.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
}
.popup .popupToDoData {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  display: inline-block;
  padding: 20px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 7px 7px 6px rgba(58, 2, 2, 0.1);
  min-width: 300px;
}
.popupToDoData input {
  padding: 8px;
  margin-bottom: 5px;
  width: 250px;
}

.popupToDoData button {
  padding: 8px;
  width: 250px;
}

input:active,
input:focus {
  outline: none;
}

h1 {
  color: black;
}
h3 {
  color: black;
}

.addToDo {
  height: 50px;
  text-align: center;
}
