.todo{
    width:200px;
    margin: 0px 16px ;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align:center;
}

.float {
  float: left;
}

.floatright {
  float: right;
}
.textColor{
    background-color: aqua
}

.warningColor{
  background-color: crimson
}

.deleteToDo {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }

  
  .closePopup {
    position: absolute;
    right: 10px;
    top: 10px;
  }